{{! vim:ts=3 }}
<div
	id="stack-frame-{{ frame_ndx }}"
	class="stack-frame grid stack-view-grid-rows min-w-fit pr-4 h-full
		text-xs border-l border-zinc-300 dark:border-zinc-600 dark:odd:bg-zinc-900"
	hx-target="this"
	hx-swap="outerHTML"
	hx-vals='{"source_visible": {{source_visible}} }'
	x-data="{highlight: {iidStart: null, iidEnd: null}}"
>
	<div 
		class="flex flex-row items-center gap-2 px-2 relative"
		x-data="{ detailsVisible: false }"
		x-on:mouseleave="detailsVisible = false"
	>
		<!-- Top bar, above bytecode -->
		<button 
			class="relative				
				{{#if source_visible}}on{{/if}}
				py-0 px-2 rounded-sm ring-1 cursor-pointer
				active:top-1
				
				text-zinc-500 bg-zinc-200 ring-transparent
				hover:bg-zinc-300 
				[&.on]:text-black [&.on]:ring-zinc-800

				dark:text-black dark:bg-zinc-600 
				dark:hover:bg-zinc-500 
				[&.on]:dark:bg-zinc-900 [&.on]:dark:ring-zinc-400 [&.on]:dark:text-white"
			hx-get="{{ self_url }}"   {{! Any better way than passing 'self_url'? }}
			hx-vals='{"source_visible":  {{#if source_visible}}false{{else}}true{{/if}} }'
			>
			JS
		</button>

		{{#with frame}}
		<div>
			<span class="">fn</span>
			<span class="font-mono">{{ moduleID }}.{{ functionID }}</span>
		</div>

		<!-- TODO add tooltip -->
		<div
			class="max-w-[5cm] inline-block whitespace-nowrap text-ellipsis overflow-hidden
				cursor-default"
			style="direction: rtl"
			x-on:mouseenter="detailsVisible = true"
		>
			{{ source_filename }}
		</div>

		<div
			class="absolute p-2 mt-[2.8cm] max-w-[9cm]
				rounded-md bg-slate-100 ring-1 ring-slate-200
				dark:bg-slate-900 dark:ring-2 dark:ring-slate-700
				"
			x-show="detailsVisible"
		>
			<div class="font-bold">Source file:</div>
			<div class="pl-2">{{ source_filename }}</div>
		</div>
		{{/with}}
	</div>

	{{!
		Why overflow-x-hidden: There is a bug (I think in Firefox) that scrolls the
		view of a little bit in the X direction when the window gains or loses focus
		(in the window manager, e.g. by using alt-tab). Plus it also messes up with the
		general layout, where horizontal scrolling is used to view other stack frames.
	}}
	{{#if source_visible}}
		<div
			class="source-text overflow-x-hidden overflow-y-scroll min-w-[8cm] max-w-[12cm] row-span-full col-start-2 text-xs font-mono whitespace-pre"
		>
			{{{ source_raw_markup }}}
		</div>
	{{/if}}


	{{#with frame}}

	<div class='flex flex-row overflow-y-scroll border-b border-dashed border-zinc-300'>
		<div 
			class="grid grid-cols-[auto_1fr] gap-x-1 auto-rows-min justify-start
				script--highlight-mcjs-values [&>*]:whitespace-nowrap"
			onload="this.querySelector('.highlighted').scrollIntoView({ block: 'center' })"
		>
			{{#each function.bytecode}}
				<div class="text-right rounded-r-md cursor-pointer
					{{#if (eq @index ../iid)}} highlighted {{/if}}
					hover:bg-zinc-100 hover:dark:bg-zinc-700
					[&.highlighted]:font-medium
					[&.highlighted]:bg-black [&.highlighted]:text-white
					[&.highlighted]:dark:bg-white [&.highlighted]:dark:text-black
				">
					<span
						class="font-mono px-2 border-sky-500 dark:border-white [&.highlight]:border-r-2"
						x-bind:class="{{ @index }} >= highlight.iidStart && {{ @index }} < highlight.iidEnd && 'highlight'"
					>
						{{#if has_breakpoint}}
							<span class="text-red-500">●</span>
						{{/if}}
						{{ @index }}⬥ 
					</span>
				</div>
				<div>
					{{ textual_repr }}
				</div>
			{{/each}}
		</div>
	</div>

	<div class="overflow-y-scroll px-1">
		<table>
			<tbody>
				{{#with values}}
					{{#each locs}}
						<tr>
							<td class="text-right">{{ name }}</td>
							<td class="px-1">{{ ident }}</td>
							<td>{{ value }}</td>
						</tr>
						{{#if prev_idents}}
						<tr>
							<td colspan="3">
								{{prev_idents}}
							</td>
						</tr>
						{{/if}}
					{{/each}}
				{{/with}}
			</tbody>
		</table>
	</div>

	{{/with}}
</div>

