{{! vim:ts=3 }}
<div
	class="stack-frame grid stack-view-grid-rows min-w-fit pr-4 h-full
		text-xs border-l border-zinc-300 dark:border-zinc-600 dark:odd:bg-zinc-900"
	x-data="{
		markedBreakRange: null,
 		sourceVisible: false
	}"
>
	<div 
		class="flex flex-row items-center gap-2 px-2 relative"
		x-data="{ detailsVisible: false }"
		x-on:mouseleave="detailsVisible = false"
	>
		<!-- Top bar, above bytecode -->
		<div>
			<span class="">fn</span>
			<span class="font-mono">{{ moduleID }}.{{ functionID }}</span>
		</div>

		<!-- TODO add tooltip -->
		<div
			class="max-w-[5cm] inline-block whitespace-nowrap text-ellipsis overflow-hidden
				cursor-default"
			style="direction: rtl"
			x-on:mouseenter="detailsVisible = true"
		>
			{{ source_filename }}
		</div>

		<div
			class="absolute p-2 mt-[2.8cm] max-w-[9cm]
				rounded-md bg-slate-100 ring-1 ring-slate-200
				dark:bg-slate-900 dark:ring-2 dark:ring-slate-700
				"
			x-show="detailsVisible"
		>
			<div class="font-bold">Source file:</div>
			<div class="pl-2">{{ source_filename }}</div>
		</div>
	</div>

	{{!
		Why overflow-x-hidden: There is a bug (I think in Firefox) that scrolls the
		view of a little bit in the X direction when the window gains or loses focus
		(in the window manager, e.g. by using alt-tab). Plus it also messes up with the
		general layout, where horizontal scrolling is used to view other stack frames.
	}}
	<div 
		class="source-text overflow-x-hidden overflow-y-scroll min-w-[12cm] row-span-full col-start-2 text-xs font-mono whitespace-pre"
		{{! TODO Use the real frame index }}
	>{{{ source_raw_markup }}}</div>

	<div class='flex flex-row overflow-y-scroll border-b border-dashed border-zinc-300'>
		{{> function_bytecode }}
	</div>

	<div class="overflow-y-scroll px-1">
		{{#with values}}
			{{#each locs}}
				<div class="even:bg-zinc-100 even:dark:bg-zinc-800" x-data="{detailsVisible: false}">
					<div class="inline-block text-right align-top whitespace-nowrap">
						<span>{{ name }}</span>
						<span>{{ ident }}</span>
						{{! TODO This needs to be designed for real }}
						{{#if prev_idents}}
							<ul>
								<li>{{prev_idents}}</li>
							</ul>
						{{/if}}
						<span>=</span>
					</div>
					<div class="inline-block px-1 align-top">
						<span>{{ value_header }}</span>

						{{#if details_url}}
							<button
								hx-target="next .details-box"
								hx-swap="innerHTML"
								hx-get="{{details_url}}"
								x-bind:class="{checked: detailsVisible}"
								@click="detailsVisible = !detailsVisible"
								class="
									relative inline-block align-middle cursor-pointer rounded-sm px-1 
									border-b border-zinc-400 dark:border-zinc-500
									active:border-b-0 active:mb-[1px] active:top-px

									bg-zinc-200 dark:bg-zinc-600
									text-zinc-500 dark:text-black
									group
								"
							>
								more
								<span class="group-[&.checked]:font-bold group-[&.checked]:text-orange-500">—</span>
							</button>
						{{/if}}
					</div>

					{{#if details_url}} {{! Value representation: details }}
						<div class="details-box ml-2 pl-2 border-l border-l-zinc-200" x-show="detailsVisible">
							Details here!
						</div>
					{{/if}}
				</div>
			{{/each}}
		{{/with}}
	</div>
</div>

