<div 
	class="grid grid-cols-[auto_1fr] gap-x-1 auto-rows-min justify-start
		script--highlight-mcjs-values [&>*]:whitespace-nowrap"
	onload="this.querySelector('.current-instr').scrollIntoView({ block: 'center' })"
	x-init='
		const scrollTo = (iid) => {
			const name = "instr-" + iid
			$refs[name].scrollIntoView({ behavior: "smooth", block: "center" })
		}
		$watch("markedBreakRange", (mbr) => {
			if (mbr) scrollTo(mbr.iidStart)
		})
		setTimeout(() => scrollTo({{iid}}), 20)
	'
>
	{{#each function.bytecode}}
		<div 
			x-ref='instr-{{ @index }}'
			class="text-right rounded-r-md cursor-pointer
				{{#if (eq @index ../iid)}} current-instr {{/if}}
				hover:bg-zinc-100 hover:dark:bg-zinc-700
				[&.current-instr]:font-medium
				[&.current-instr]:bg-black [&.current-instr]:text-white
				[&.current-instr]:dark:bg-white [&.current-instr]:dark:text-black

				[&.highlight]:dark:bg-sky-800 [&.highlight]:bg-sky-200"
			x-bind:class="{
				highlight: markedBreakRange?.iidStart <= {{ @index }} && {{ @index }} < markedBreakRange?.iidEnd
			}"
		>
			<span class="font-mono px-2">
				{{#if has_breakpoint}}
					<span class="text-red-500">●</span>
				{{/if}}
				{{ @index }}⬥ 
			</span>
		</div>
		<div>
			{{ textual_repr }}
		</div>
	{{/each}}
</div>

