<!doctype html>
<html class="w-full h-full">
<head>
	<title>mcjs Inspector</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/assets/style.css">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.js"></script>
  <script defer src="/assets/htmx-1.9.6.js"></script>
</head>

<body 
	class="w-full h-full dark:bg-zinc-800 dark:text-white text-black"
	>
	{{#with model}}
		<div class="grid grid-cols-[minmax(0,auto)_1cm_1fr] inset-0 w-full h-full">
			<div
				class="grid grid-rows-[auto_1fr]"
			>
				<div class="flex flex-col p-0 cursor-default">
					<!-- Left sidebar -->

					{{#if ../failure}}
						<div class="m-2 px-4 py-2 ring-1 ring-zinc-300 dark:ring-transparent dark:text-white dark:bg-zinc-900">
							<p>
								<span class="bg-rose-400 dark:bg-rose-500 px-4 px-1 text-white"><b>Interpreter failed:</b></span>
							</p>
							{{../failure}}
						</div>
					{{/if}}

					<div class="my-1">
						<span class="
							bg-zinc-400 text-white
							dark:bg-zinc-600 dark:text-zinc-200
							font-semibold text-sm px-1 py-0.5 mx-2 uppercase
						"> Breakpoints </span>
					</div>

					<div>
						<div class="text-xs whitespace-nowrap">
							{{#each breakpoints}}
								<div class="
									px-1 cursor-pointer
									hover:bg-sky-100
									dark:bg-zinc-800 dark:hover:bg-zinc-700
								">
									{{ filename }}:{{ line }}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>

			<div id="main-area-labels" class="grid stack-view-grid-rows inset-0">
				<div></div>
				<div class="sticky lowercase text-xl text-vertical dark:text-white py-2 ml-auto mr-auto">
					Code
				</div>
				<div class="sticky lowercase text-xl text-vertical text-right dark:text-white py-2 ml-auto mr-auto">
					Data
				</div>
			</div>

			<div id="main-area" class="inset-0 w-full h-full overflow-x-scroll flex">
				<!-- Main area -->
				{{#each frames}}
					<div
						id="stack-frame-{{ @index }}"
						class="grid stack-view-grid-rows min-w-fit pr-4 space-x-2 h-full
							text-xs border-l border-zinc-300 dark:border-zinc-600 dark:odd:bg-zinc-900"
						x-data="{sourceVisible: false, highlight: {iidStart: null, iidEnd: null}}"
						hx-trigger="load"
						hx-get="/frames/{{ @index }}/view"
					></div>
				{{/each}}
			</div>
		</div>
	{{/with}}
</body>


