<!doctype html>
<html class="w-full h-full">
<head>
	<title>mcjs Inspector</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <link rel="stylesheet" type="text/css" href="/assets/style.css"> -->
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<script defer src="/assets/alpinejs-3.x.x.js"></script>
	<script defer src="/assets/htmx-1.9.6.js"></script>
</head>

<body 
	class="w-full h-full dark:bg-zinc-800 dark:text-white text-black"
	hx-target="this"
	hx-swap="outerHTML"
	hx-trigger="breakpointAdded"
	hx-get="/"
>
	<div class="grid grid-cols-[minmax(0,7cm)_1cm_1fr] inset-0 w-full h-full">
		<div class="p-0">
			{{> sidebar }}
		</div>

		<div id="main-area-labels" class="grid stack-view-grid-rows inset-0">
			<div></div>
			<div class="sticky lowercase text-xl text-vertical dark:text-white py-2 ml-auto mr-auto">
				Code
			</div>
			<div class="sticky lowercase text-xl text-vertical text-right dark:text-white py-2 ml-auto mr-auto">
				Data
			</div>
		</div>

		<div id="main-area" class="inset-0 w-full h-full overflow-x-scroll flex">
			{{#if model}}
				{{#with model.frame_view_snapshot.frames.[0]}}
					{{> frame_view }}
				{{/with}}
			{{else}}
				{{! TODO do some actual design here }}
				<span>the interpreter has exited or has not been started yet</span>
			{{/if}}
		</div>
		
	</div>
</body>


