<!doctype html>
<html class="w-full h-full">
<head>
	<title>mcjs Inspector</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <script src="/assets/htmx-1.9.2.js"></script> -->
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>

<body class="w-full h-full dark:bg-zinc-800 dark:text-white text-black">
	<div class="grid grid-cols-[7cm_1fr] inset-0 w-full h-full">
		<div class="flex flex-col p-0">
			<div>
				<span class="bg-zinc-600 text-zinc-200 font-semibold text-sm p-1 mx-2 uppercase">Breakpoints</span>
			</div>
			<div>
				<ul>
					<li>
					</li>
				</ul>
			</div>
		</div>

		<div id="content" class="grid grid-rows-[1fr_5cm_1cm] grid-cols-[1cm_1fr] inset-0 w-full h-full">
			<div class="text-xl text-vertical dark:text-white lowercase sticky py-2 ml-auto mr-auto flex">
				Stack + Code
			</div>

			<div id="stack-view" class="flex space-4 overflow-x-scroll py-4 cursor-default">
				<!-- {% let frames = core_dump.data.frames() %} -->
				<!-- for frame in frames.iter().rev() -->
					<div
						id="stack-frame-{{loop.index0}}" 
						class="
							flex min-w-fit mx-4 p-2 space-x-2 h-full 
							border-t-2 border-zinc-400 rounded-lg text-xs"
					>
						{% let call_id = vm_result.call_id_stack[loop.index0] %}
						{% let hdr = frame.header() %}
						<div class='flex flex-col overflow-y-scroll space-y-2'>
							<div class="grid gap-x-1 grid-cols-[2cm_1fr]">
								<div class='text-right'>Call ID =</div>
								<div>{{ call_id.0 }}</div>

								<div class='text-right'>Function =</div>
								<div>{{ hdr.fn_id.0 }}</div>
					
								<div class='text-right'>This =</div>
								<div>{{ "{:?}"|format(hdr.this) }}</div>
								<div class='text-right'>Return to =</div>
								<div>
									{{ "{:?}"|format(hdr.return_value_vreg) }} 
									@
									{{ "{:?}"|format(hdr.return_to_iid) }}
								</div>
							</div>

							<div class='grid grid-cols-[2cm_1fr] gap-x-1'>
								<div class='text-zinc-500'>Arguments</div>
								<div></div>
								{% for item in frame.args() %}
								<div 
									class="
										text-right script--value px-1
										[&.highlighted]:bg-cyan-200 [&.highlighted]:text-cyan-900
										[&.highlighted]:dark:bg-cyan-900 [&.highlighted]:dark:text-cyan-200
									"
									data-mcjs-value='call{{call_id.0}}-arg{{loop.index0}}'
								>
									arg <span class="font-mono">{{loop.index0}}</span>
								</div>
								<div>{{ "{:?}"|format(item) }}</div>
								{% endfor %}
							</div>

							<div class='grid grid-cols-[2cm_1fr] gap-x-1'>
								<div class='text-zinc-500'>Captures</div>
								<div></div>
								{% for item in frame.captures() %}
								<div 
									class="
										text-right script--value px-1
										[&.highlighted]:bg-cyan-200 [&.highlighted]:text-cyan-900
										[&.highlighted]:dark:bg-cyan-900 [&.highlighted]:dark:text-cyan-200
									"
									data-mcjs-value='call{{call_id.0}}-cap{{loop.index0}}'
								>
									cap <span class="font-mono">{{loop.index0}}</span>
								</div>
								<div>{{ "{:?}"|format(item) }}</div>
								{% endfor %}
							</div>
						</div>

						<div
							class='
								grid grid-cols-[auto_1fr] gap-x-1 auto-rows-min justify-start overflow-y-scroll
								script--highlight-mcjs-values
							'
						>
							{% for item in frame.results() %}
							<div
									class="text-right script--value read [&.highlighted]:bg-sky-800 [&.highlighted]:text-white"
									data-mcjs-value="call{{ call_id.0 }}-v{{ loop.index0 }}">
								⬥<span class="font-mono">r{{loop.index0}}</span>
							</div>
							<div>{{ "{:?}"|format(item) }}</div>
							{% endfor %}
							<div></div>
						</div>

						<div class='overflow-y-scroll'>
							{# Code #}
							{% let func = self.get_function(hdr.fn_id) %}
							{% let call_instr_ndx = call_instr_ndxs[loop.index0] %}
							{% let is_last_frame = loop.last %}

							{% for instr in func.instrs %}
								<div
									class='
										flex pr-2 space-x-2
										{% match call_instr_ndx %}
										{% when Some with (ndx) %}
											{% if ndx.lt(loop.index0) %}
												opacity-40
											{% endif %}
										{% else %}
											{% if is_last_frame && loop.index0 > vm_result.last_iid %}
												opacity-40
											{% endif %}
										{% endmatch %}
									'
								>
									<div class='text-zinc-500 text-right font-mono min-w-[1cm]'>i{{loop.index0}}</div>

									{% for part in instr.parts %}
										{% match part %}
										{% when view_model::InstrPartView::Opcode with (opcode) %}
											<div>{{opcode}}</div>

	                  {% when InstrPartView::Read with (vreg, description_opt) %}
											<form method="POST" action="core_dump/add-vreg-watch" class="inline">
												<input type="hidden" name="call_id" value="{{call_id.0}}">
												<input type="hidden" name="vreg" value="{{vreg.0}}">
												{% match description_opt %}
												{% when Some with (description) %}
													<div class='text-xs inline-block'>{{description}}⏵</div>
												{% else %}
												{% endmatch %}
												<button class='group inline-block px-1 cursor-pointer script--value
															[&.highlighted]:bg-sky-800
															[&.highlighted]:text-white' 
														data-mcjs-value='call{{call_id.0}}-v{{vreg.0}}'
														hx-post="core_dump/add-vreg-watch" 
														hx-target="#watches"
														hx-select="#watches"
														hx-swap="outerHTML"
														> 
													r{{vreg.0}}⬥
												</button>
											</form>

			              {% when InstrPartView::Write with (vreg, description_opt) %}
											<form method="POST" action="core_dump/add-vreg-watch" class="inline">
												<input type="hidden" name="call_id" value="{{call_id.0}}">
												<input type="hidden" name="vreg" value="{{vreg.0}}">
												<button class='group inline-block px-1 cursor-pointer script--value
															[&.highlighted]:bg-rose-800
															[&.highlighted]:text-white' 
														data-mcjs-value='call{{call_id.0}}-v{{vreg.0}}'
														hx-post="core_dump/add-vreg-watch" 
														hx-target="#watches"
														hx-select="#watches"
														hx-swap="outerHTML"
														> 
													w{{vreg.0}}⬥
												</button>
											</form>

										{% when InstrPartView::Capture with (capndx) %}
											<div
													class="
														script--value px-1 
														[&.highlighted]:bg-cyan-200 [&.highlighted]:text-cyan-900
														[&.highlighted]:dark:bg-cyan-900 [&.highlighted]:dark:text-cyan-200
													" 
													data-mcjs-value='call{{call_id.0}}-cap{{capndx}}'
												>
												capture[{{capndx}}]
											</div>

										{% when InstrPartView::Arg with (argndx) %}
											<div
												class="
													script--value px-1 
													[&.highlighted]:bg-cyan-200 [&.highlighted]:text-cyan-900
													[&.highlighted]:dark:bg-cyan-900 [&.highlighted]:dark:text-cyan-200
												"
												data-mcjs-value='call{{call_id.0}}-arg{{argndx}}'
											>
												arg[{{argndx}}]
											</div>

			              {% when InstrPartView::Other with (str) %}
											<span>{{str}}</span>
										{% endmatch %}
									{% endfor %}

									{% match call_instr_ndx %}
									{% when Some with (ndx) %}
										{% if ndx.eq(loop.index0) %}
											<svg height="5mm" viewBox="0 0 30 6" class='text-teal-500'>
												<use href="/assets/arrow.svg#layer1" />
											</svg>
										{% endif %}
									{% else %}
									{% endmatch %}
								</div>

								{% if is_last_frame && loop.index0 == vm_result.last_iid %}
									<div class='py-4 space-y-2'>
										<div class='text-red-500'>
											 ⸻   VM interrupted here ◉
										</div>
										<ul>
											{% for msg in vm_result.error_messages %}
												<li>{{ msg }}</li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}

								{% let giid = GlobalIID(hdr.fn_id.clone(), IID(loop.index0.try_into().unwrap())) %}
								{% match vm_result.instr_meta.get(giid) %}
									{% when Some with (items) %}
										<div class='px-8'>
											<div>▴ meta:</div>
											<ul class='list-disc'>
											{% for meta_item in items %}
												<li>
													{{ "{:?}"|format(meta_item) }}
												</li>
											{% endfor %}
											</li>
										</div>
									{% else %}
								{% endmatch %}
							{% endfor %}
						</div>

					</div>
				<!-- -->
			</div>

			<div class="text-xl text-vertical dark:text-white lowercase sticky py-2 ml-auto mr-auto flex">
				Values
			</div>

			<div id="watches" class=" scrollbar-thin inset-0">
				<div class="grid grid-cols-[2cm_1fr] text-sm">
					{% if watches.len() == 0 %}
						<p class="col-span-2 text-zinc-500 text-xs m-4 lowercase font-normal">
							No values watched yet. Click on values in the
							instruction or  overflow-y-scrollstack window (e.g. "v123",
							"ObjectId(456)") to get more details.
						</p>
					{% else %}
						{% for watch in watches %}
							{% match watch %}
							{% when Watch::VReg with (evreg) %}
								<div class='group script--value cursor-default' data-mcjs-value='call{{evreg.0.0}}-v{{evreg.1.0}}'>
									<div class='inline-block px-1 group-[&.highlighted]:bg-teal-500'>C{{evreg.0.0}}</div>
									<div class='inline-block px-1 group-[&.highlighted]:bg-sky-800'>v{{evreg.1.0}}</div>
								</div>
								<div>= {{ "{:?}"|format(watch_values[loop.index0]) }}</div>
							{% endmatch %}
						{% endfor %}
					{% endif %}
				</div>
			</div>

			<div class='col-span-full flex space-x-6 lowercase cursor-default'>
				<div class='ml-8 h-full'>mcjs</div>
				<div class='block h-full hover:underline decoration-amber-400 decoration-2 cursor-pointer'>
					Case info
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/assets/script.js"></script>
</body>

