{{#with snapshot.model}}
<div
    class="flex flex-col p-0 cursor-default"
    x-data="{selectedBreakpoint: null}"
    hx-target="this"
>
    <!-- Left sidebar -->

    {{#if @root.snapshot.failure}}
        <div class="mt-2 ml-2 px-4 py-2 ring-1 ring-zinc-300 dark:ring-transparent dark:text-white dark:bg-zinc-900">
            <p>
                <span class="bg-rose-400 dark:bg-rose-500 px-4 px-1 text-white"><b>Interpreter failed:</b></span>
            </p>
            {{@root.snapshot.failure}}
        </div>
    {{/if}}

    <div
        class="grid grid-cols-3 gap-3 p-3 text-center place-items-center text-xs font-medium"
         
    >
        {{#*inline "button-style"~}}
            relative enabled
            uppercase w-20 rounded-sm cursor-pointer
            text-zinc-500 dark:text-zinc-500
            [&.enabled]:text-black [&.enabled]:dark:text-white
            [&.enabled]:hover:bg-zinc-100 dark:bg-zinc-700 [&.enabled]:hover:dark:bg-zinc-600
            border dark:border-black shadow-[0_1px_1px_black]
            [&.enabled]:active:shadow-none [&.enabled]:active:top-1
        {{~/inline}}
        <button hx-post="/next" hx-swap="none" class="{{> button-style}}">Next</button>
        <button hx-post="/continue" hx-target="body" hx-swap="outerHTML" class="{{> button-style}}">Continue</button>
        <button hx-post="/restart" hx-target="body" hx-swap="outerHTML" class="{{> button-style}}">Restart</button>
        
        <button
            class="{{> button-style}}"
            x-bind:class="{'enabled': (selectedBreakpoint !== null)}"
            hx-include="input"
            hx-post="/sidebar/breakpoints/delete"
        >
            Delete
            <input type="hidden" name="category" x-bind:value="selectedBreakpoint ? selectedBreakpoint.category : ''">
            <input type="hidden" name="index" x-bind:value="selectedBreakpoint ? selectedBreakpoint.index : ''">
        </button>
    </div>

    <div class="text-xs text-center">
        Double-click <span class="inline-block src-range-selected">⚬ source code range</span> to set a breakpoint.
    </div>

    <div class="my-1">
        <span class="
            dark:bg-zinc-600 dark:text-zinc-200
            font-semibold text-sm px-1 py-0.5 mx-2 uppercase
        "> Source Breakpoints </span>
    </div>

    <div>
        <div class="text-xs whitespace-nowrap">
            {{#each snapshot.model.source_breakpoints}}
                <div 
                    class="px-1 cursor-pointer
                        hover:bg-sky-100
                        dark:bg-zinc-800 dark:hover:bg-zinc-700
                        [&.selected]:bg-sky-200 [&.selected]:dark:bg-sky-800
                        whitespace-nowrap text-ellipsis overflow-hidden"
                    style="direction: rtl"
                    @click="selectedBreakpoint = {category: 'source', index: {{@index}} }"
                    x-bind:class="{ 'selected': (selectedBreakpoint && selectedBreakpoint.category == 'source' && selectedBreakpoint.index == {{@index}})  }"

                >
                    {{ filename }}:{{ line }}
                </div>
            {{/each}}
        </div>
    </div>

    <div class="my-1">
        <span class="
            dark:bg-zinc-600 dark:text-zinc-200
            font-semibold text-sm px-1 py-0.5 mx-2 uppercase
        "> Instr. Breakpoints </span>
    </div>

    <div>
        <div class="text-xs whitespace-nowrap">
            {{#each snapshot.model.instr_breakpoints}}
                <div
                    class="px-1 cursor-pointer
                        hover:bg-sky-100
                        dark:bg-zinc-800 dark:hover:bg-zinc-700
                        [&.selected]:bg-sky-200 [&.selected]:dark:bg-sky-800"
                    @click="selectedBreakpoint = {category: 'instr', index: {{@index}} }"
                    x-bind:class="{ 'selected': (selectedBreakpoint && selectedBreakpoint.category == 'instr' && selectedBreakpoint.index == {{@index}})  }"
                >
                    fn
                    <span class="font-bold">
                        {{this.[0].[0]}}.{{this.[0].[1]}}
                    </span>
                    ins
                    <span class="font-bold">
                        {{this.[1]}}
                    </span>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="my-1">
        <span class="
            dark:bg-zinc-600 dark:text-zinc-200
            font-semibold text-sm px-1 py-0.5 mx-2 uppercase
        ">Stack</span>
    </div>

    <div>
        <ul class="text-xs whitespace-nowrap">
            {{#each frame_view_snapshot.frames}}
                <li class="px-1 cursor-pointer relative
                        hover:bg-sky-100
                        dark:bg-zinc-800 dark:hover:bg-zinc-700
                        [&.selected]:bg-sky-200 [&.selected]:dark:bg-sky-800"
                    x-data="{detailsVisible: false}"
                    x-on:mouseleave="detailsVisible = false"
                    hx-get="/?frame_ndx={{@index}}"
                    hx-target="body"
                    hx-push-url="true"
                 >
                    {{#if (eq @root.frame_ndx @index)}}
                        <span>🞂</span>
                    {{/if}}

                    fn
                    <span class="font-bold">{{ moduleID }}.{{ functionID }}</span>

                    ins
                    <span class="font-bold">{{ iid }}</span>
                    
                		<div
                			class="max-w-[5cm] inline-block text-ellipsis overflow-hidden align-bottom"
                			style="direction: rtl"
                      x-on:mouseenter="detailsVisible = true"
                		>
                			{{ source_filename }}
                		</div>

                		<div
                			class="absolute p-2 whitespace-default cursor-default
                				rounded-md bg-slate-100 ring-1 ring-slate-200
                				dark:bg-slate-900 dark:ring-2 dark:ring-slate-700
                				"
                      {{! TODO: Replace these with Tailwind utility classes when I get off the plane }}
                      style="top: 0; left: 100%; z-index: 2;"
                			x-show="detailsVisible"
                		>
                			<div class="font-bold">Source file:</div>
                			<div class="pl-2">{{ source_filename }}</div>
                		</div>
                </li>
            {{/each}}
        </ul>
    </div>

</div>
{{/with}}
