@tailwind base;
@tailwind utilities;

/* Firefox's default scollbars are thin, and look basically perfect already.
 * Chromium needs some directives.
 */
@layer utilities {
	::-webkit-scrollbar {
		@apply w-1;
		@apply border-zinc-500;
		@apply border-r;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-zinc-500;
		@apply w-1;
	}
}

.stack-view-grid-rows {
  grid-template-rows: minmax(0, 1fr) max(40%, 3cm);
}

html {
	font-weight: 300;
	font-family: 'Rubik', sans-serif;
}

.scrollbar-thin::-webkit-scrollbar {
	width: 0.15cm;
}
.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
	border-right: 1px gray solid;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
	background: gray;
}

.text-vertical {
	/* A bit unintuitive, but it works on both Firefox and Chrome, so, ship it */
    text-orientation: sideways-right;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

