<!doctype html>
<html class="w-full h-full bg-my-grid">
<head>
	<title>mcjs Inspector</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/assets/tailwind-cdn.js"></script>
	<script src="/assets/htmx-1.9.2.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>

<body class="w-full h-full dark:bg-slate-900 dark:text-white text-black">
	{% block content %}{% endblock %}

	<script type="text/javascript" src="/assets/script.js"></script>
</body>


