@tailwind base;
@tailwind utilities;

html {
	font-weight: 300;
}

.scrollbar-thin::-webkit-scrollbar {
	width: 0.15cm;
}
.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
	border-right: 1px gray solid;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
	background: gray;
}

.text-vertical {
	writing-mode: sideways-lr;
	text-orientation: sideways;
}


